
input[type=checkbox], input[type=radio]{
margin:0!important;}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3a50;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  overflow: hidden;
}

.container .forms {
  width: 200%;
  display: flex;
  height: 440px;
  align-items: center;
  transition: height 0.4s ease;
}

.container .form {
  width: 50%;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  transition: margin-left 0.36s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.36s ease, opacity 0.3s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.18s ease;
}

.container.active .signup {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.container.active .forms {
  height: 600px;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
  color:#4d6089;
}



.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 11px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: border-bottom-color 0.4s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #2f3a50;
}


.form .checkbox-text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}

.form a {
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .button button {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4d6089;
  cursor: pointer;
  transition: all 0.6s ease;
  padding: 1rem 2rem;
}

.button button:hover {
  background-color: #5a8dee;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.checkbox-content label{
margin: 0 0.5rem!important;}

